@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b1d22;
  color: white;
  font-family: "Roboto", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

h3 {
  padding-top: 2rem;
}

.App {
  text-align: center;
  width: 45%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 1);
  margin: 0 auto;
  height: 100vh;
  overflow-y: scroll;
  box-shadow: 6px 0 15px -4px rgba(48, 56, 59, 0.8),
    -5px 0 8px -4px rgba(48, 56, 59, 0.8);

  &::-webkit-scrollbar {
    width: 0.33rem;
  }

  &::-webkit-scrollbar-track {
    background: #1e1e24;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(100, 97, 97);
  }
}

.header-section {
  position: relative;

  .header-section__info {
    .header-section__title {
      font-size: 2rem;
      padding-top: 2rem;
      margin-top: 0;
      margin-bottom: 0.3rem;
      font-weight: 300;
      letter-spacing: 0.01px;
    }

    .header-section__number {
      margin-top: 0;
      color: rgb(185, 175, 175);
    }
  }

  .header-section__icons {
    position: absolute;
    right: 1rem;
    // position: relative;
    // left: 8rem;
    margin-top: 2rem;

    & > * {
      padding: 0.3rem;
    }

    .material-icons {
      font-size: 1.7rem;
    }
  }
}

.people-section {
  margin-top: 7rem;
  margin-bottom: 1rem;
  text-align: left;

  .letter-section {
    margin-top: 1.4rem;

    .letter-section__letter {
      color: rgb(185, 175, 175);
      margin-left: 0.8em;
    }
  }
}

.letter-section__people {
  background-color: rgba(40, 40, 40, 1);
  border-radius: 2.5rem;
  font-size: 1.13rem;

  .letter-section__people--content {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.35em 1rem;
    gap: 1rem;
    position: relative;

    .letter-section__people--letter {
      background-color: #c53929;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
    }

    .letter-section__people--name {
      margin: 0;
    }

    .letter-section__people--phone {
      margin: 0;
    }

    .letter-section__people--info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.3rem;
      justify-content: start;
    }
  }

  .letter-section__people__extra--info {
    text-align: center;
    color: rgba(28, 168, 61, 0.9);
    font-size: 0.8rem;

    .extra-info__icons {
      display: flex;
      justify-content: space-around;
      padding: 1rem 1rem;

      .material-icons {
        color: rgb(28, 168, 61);
      }

      .chat-icon {
        color: rgb(43, 140, 185);
      }

      .info-icon {
        color: grey;
      }
    }
  }
}

.search-section {
  .search-section__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 1rem;
    background-color: rgba(40, 40, 40, 1);
    border-radius: 30px;

    input {
      background-color: rgba(40, 40, 40, 1);
      color: white;
      border: none;
      outline: none;
      flex-grow: 1;
      font-size: 1.1rem;
    }

    .material-icons {
      font-size: 1.5rem;
      cursor: pointer;
    }

    .arrow-icon {
      display: block;
    }
  }

  .latest-calls-text {
    text-align: left;
    color: rgb(185, 175, 175);
    margin-left: 0.8em;
    font-size: 0.95rem;
  }

  .latest-calls {
    border-radius: 2.5rem;
    background-color: #282828;
    font-size: 1.1rem;

    .latest-calls__call {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem 1rem 1.5rem;

      p {
        margin: 0;
      }

      .latest-calls__call--date {
        font-size: 0.9rem;
      }
    }
  }
}

//Dot animation

.dot-flashing {
  position: relative;
  left: calc(50% + 37px);
  bottom: 22px;
  width: 3px;
  height: 3px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}

.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -7px;
  width: 3px;
  height: 3px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 7px;
  width: 3px;
  height: 3px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  50%,
  100% {
    background-color: #ebe6ff;
  }
} //Dot animation end

.call-section {
  .call-section__calling {
    margin-top: 2rem;
  }
  .call-section__name {
    font-size: 2rem;
    font-weight: 300;
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .call-section__phone {
    margin-top: 0.3rem;

    .call-section__phone--number {
      margin-left: 0.6rem;
      font-size: 0.9rem;
    }
  }

  .call-section__letter {
    background-color: #c94e41;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    border-radius: 50%;
  }

  .call-section__icons {
    display: grid;
    row-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3rem;
    font-size: 0.85rem;
  }

  .call-end-icon-container {
    display: flex;
    justify-content: center;
    margin-top: 4.5rem;

    .call-end-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      color: red;
      font-size: 2.5rem;
      background-color: white;
      opacity: 0.9;
      border-radius: 50%;
      width: 60px;
      height: 60px;
    }
  }
}
